[buildout]
extends =
    https://raw.githubusercontent.com/propertyshelf/buildout.mlstest/master/qa.cfg

develop = .
versions = versions
package-name = z3c.formwidget.autocomplete
package-extras = [test]
test-eggs =

parts =
    code-analysis
    node
    test
    zptlint


[code-analysis]
clean-lines = True
debug-statements = True
deprecated-aliases = True
directory = ${buildout:directory}/src/z3c/formwidget/autocomplete
find-untranslated = True
flake8-max-complexity = 12
i18ndude-bin = ${buildout:bin-directory}/i18ndude
pep3101 = True
prefer-single-quotes = True
utf8-header = True
zptlint = True
zptlint-bin = ${buildout:bin-directory}/zptlint


[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}


[versions]
setuptools = 0.6c11
zc.buildout = 1.7.1
